<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DNCA Form</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    
    <!-- TODO: Must use host of server (constant) -->
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/api/dnca/stylesheets/form.css"> 
</head>
<body>
    <div class="main">
        <div id="header">            
            <h1>CITIZENS’ DISASTER RESPONSE CENTER AND NETWORK</h1>
            <h1 class="sub">DAMAGE, NEEDS, CAPACITIES ASSESSMENT (DNCA)</h1>
        </div>
        <p>
            This tool is used after a disaster event to determine the following: current situation, resources available, needs, gaps, and the interventions that
            should be prioritized. This can be used again to update the initial data gathered and to determine if the situation has changed from the initial
            assessment. Methodologies that can be used are: interviews with community members, FGDs, KIIs, information gathering, and field observations.
        </p>
        <br>
        <!-- <p>
            <strong>REMINDER</strong>
            <ul>
                <li>
                    Conduct courtesy calls with relevant offices. Introduce the team and the organization.
                </li>
                <li>                    
                    Be courteous and sensitive to the situation. DO NOT make any promises.
                </li>
                <li>                    
                    Remember to get secondary information when available.
                </li>
                <li>
                    Get contact information of key informants and other possible sources of information.
                </li>
                <li>
                    Take photos and videos if possible. Please ask permission before doing so.
                </li>
                <li>                    
                    Thank the respondents for their responses and participation.
                </li>
            </ul>
        </p> -->
        <br>
            <!-- FORM DETAILS -->
            <div id="area-info">
                <table>
                    <tr>
                        <td><%= dnca.info.prefilledData.orgName.question %></td>
                        <td><%= dnca.info.prefilledData.orgName.value %></td>
                        <td><%= dnca.info.formDetails.assessmentDate.question %></td>
                        <td><%= dnca.info.formDetails.assessmentDate.year%>/<%= dnca.info.formDetails.assessmentDate.month%>/<%= dnca.info.formDetails.assessmentDate.dayOfMonth%></td>
                    </tr>
                    <tr>
                        <td><%= dnca.info.prefilledData.sitio.question %></td>
                        <td><%= dnca.info.prefilledData.sitio.value %></td>
                        <td><%= dnca.info.prefilledData.barangay.question %></td>
                        <td><%= dnca.info.prefilledData.barangay.value %></td>
                    </tr>
                    <tr>
                        <td><%= dnca.info.prefilledData.city.question %></td>
                        <td><%= dnca.info.prefilledData.city.value %></td>
                        <td><%= dnca.info.prefilledData.province.question %></td>
                        <td><%= dnca.info.prefilledData.province.value %></td>
                    </tr>
                    <tr>
                        <td><%= dnca.info.formDetails.interviewer.question %></td>
                        <td><%= dnca.info.formDetails.interviewer.value %></td>
                        <td><%= dnca.info.formDetails.interviewerNo.question %></td>
                        <td><%= dnca.info.formDetails.interviewerNo.value %></td>
                    </tr>
                    <tr>
                        <td><%= dnca.info.formDetails.infoSources.question %></td>
                        <td><%= dnca.info.formDetails.infoSources.value %></td>
                    </tr>
                </table>
            </div>
            <br>
            
            <div class="table-info">
                <p>
                    <strong>I. BASELINE DATA</strong>
                </p>
                <!-- Total Population -->
                <p>
                    <strong>Total Population</strong>
                </p>            
                <table id="total-population">
                    <tr>
                        <th>Age</th>
                        <th>Male</th>
                        <th>Female</th>
                    </tr>
                    <% dnca.info.prefilledData.population.forEach(function(row) { %>                    
                        <tr>
                            <td><%= row.count.question %></td>
                            <td><%= row.count.male %></td>
                            <td><%= row.count.female %></td>
                        </tr>
                    <% }) %> 
                </table>
                <br>

                <!-- Total Families and Households -->
                <p>
                    <strong>Total Families and Households</strong>
                </p>            
                <table id="total-families">
                    <tr>
                        <th></th>
                        <th>Number</th>
                    </tr>               
                    <tr>
                        <td><%= dnca.info.prefilledData.familyCount.question %></td>
                        <td><%= dnca.info.prefilledData.familyCount.value %></td>
                    </tr>           
                    <tr>
                        <td><%= dnca.info.prefilledData.householdsCount.question %></td>
                        <td><%= dnca.info.prefilledData.householdsCount.value %></td>
                    </tr>
                </table>
                <br>

                <!-- Total Number of Houses -->
                <p>
                    <strong>Total Number of Houses</strong>
                </p>            
                <table id="total-houses">
                    <tr>
                        <th>House Type</th>
                        <th>Number</th>
                    </tr>
                    <% dnca.info.prefilledData.houses.forEach(function(row) { %>                    
                        <tr>
                            <td><%= row.count.question %></td>
                            <td><%= row.count.value %></td>
                        </tr>
                    <% }) %> 
                </table>
                <br>
            </div>
        <br>
    </div>    
</body>
</html>