<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DNCA Form</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/dnca/stylesheets/form.css"> <!-- Must use host of server (constant) -->
</head>
<body>
    <div class="main">
        <div id="header">            
            <h1>CITIZENS’ DISASTER RESPONSE CENTER AND NETWORK</h1>
            <h1 class="sub">DAMAGE, NEEDS, CAPACITIES ASSESSMENT (DNCA)</h1>
        </div>
        <p>
            This tool is used after a disaster event to determine the following: current situation, resources available, needs, gaps, and the interventions that
            should be prioritized. This can be used again to update the initial data gathered and to determine if the situation has changed from the initial
            assessment. Methodologies that can be used are: interviews with community members, FGDs, KIIs, information gathering, and field observations.
        </p>
        <br>
        <p>
            <strong>REMINDER</strong>
            <ul>
                <li>
                    Conduct courtesy calls with relevant offices. Introduce the team and the organization.
                </li>
                <li>                    
                    Be courteous and sensitive to the situation. DO NOT make any promises.
                </li>
                <li>                    
                    Remember to get secondary information when available.
                </li>
                <li>
                    Get contact information of key informants and other possible sources of information.
                </li>
                <li>
                    Take photos and videos if possible. Please ask permission before doing so.
                </li>
                <li>                    
                    Thank the respondents for their responses and participation.
                </li>
            </ul>
        </p>
        <br>
        <div id="area-info">
            <table>
                <tr>
                    <td>Name of Organization:</td>
                    <td><%= dnca.info.orgName %></td>
                    <td>Date of Assessment:</td>
                    <td><%= dnca.info.assessmentDate %></td>
                </tr>
                <tr>
                    <td>Sitio/Purok/Zone:</td>
                    <td><%= dnca.info.sitio %></td>
                    <td>Barangay:</td>
                    <td><%= dnca.info.barangay %></td>
                </tr>
                <tr>
                    <td>Municipality/City:</td>
                    <td><%= dnca.info.city %></td>
                    <td>Province:</td>
                    <td><%= dnca.info.province %></td>
                </tr>
                <tr>
                    <td>Name of Interviewer:</td>
                    <td><%= dnca.info.interviewer %></td>
                    <td>Contact Number:</td>
                    <td><%= dnca.info.interviewerNo %></td>
                </tr>
            </table>
        </div>
        <br>

        <!-- GENERAL INFORMATION -->
        <div class="table-info">
            <p>
                <strong>I. GENERAL INFORMATION</strong>
            </p>
            <br>
            <p>
                <strong>Description of the Calamity</strong>
            </p>
            <table id="calamity">
                <tr>
                    <td>Type of Calamity:</td>
                    <td><%= dnca.info.genInfo.calamityDesc.calamityType %></td>
                </tr>
                <tr>
                    <td>Date of Occurrence:</td>
                    <td><%= dnca.info.genInfo.calamityDesc.dateOccurred %></td>
                </tr>
                <tr>
                    <td>Description of the Event:</td>
                    <td><%= dnca.info.genInfo.calamityDesc.description %></td>
                </tr>
            </table>
            <br>

            <p>
                <strong>Brief Description of the Affected Area</strong>
            </p>
            <div class="single-box">
                <em>Accessibility, safety, cultural context, religion, availability of markets, etc.</em>
                <div class="text">
                    <%= dnca.info.genInfo.affectedAreaDesc %>
                </div>
            </div>
            <br>
            
            <!-- POPULATION DATA -->
            <p>
                <strong>Population Data</strong>
            </p>            
            <table id="population-data">
                <tr>
                    <th rowspan=2>Age</th>
                    <th colspan=2>Total Population (Baseline)</th>
                    <th colspan=2>Affected Population</th>
                    <th colspan=2>Displaced Population</th>
                </tr>
                <tr>
                    <td>Male</td>
                    <td>Female</td>
                    <td>Male</td>
                    <td>Female</td>
                    <td>Male</td>
                    <td>Female</td>
                </tr>
                <% dnca.info.genInfo.populationData.populationDataRows.forEach(function(row) { %>                    
                    <tr>
                        <td><%= row.ageGroup %></td>
                        <td><%= row.total.male %></td>
                        <td><%= row.total.female %></td>
                        <td><%= row.affected.male %></td>
                        <td><%= row.affected.female %></td>
                        <td><%= row.displaced.male %></td>
                        <td><%= row.displaced.female %></td>
                    </tr>
                <% }) %>
            </table>
            <br>
            
            <!-- FAMILY AND HOUSEHOLD DATA -->
            <p>
                <strong>Family and Household Data</strong>
            </p>       
            <table id="family-data">
                <tr>
                    <th></th>
                    <th>Total Population (Baseline)</th>
                    <th>Number of Affected</th>
                    <th>Number of Displaced</th>
                </tr>
                <tr>
                    <td>Families</td>
                    <td><%= dnca.info.genInfo.familyData.totalFamilies %></td>
                    <td><%= dnca.info.genInfo.familyData.affectedFamilies %></td>
                    <td><%= dnca.info.genInfo.familyData.displacedFamilies %></td>
                </tr>
                <tr>
                    <td>Households</td>
                    <td><%= dnca.info.genInfo.familyData.totalHouseholds %></td>
                    <td><%= dnca.info.genInfo.familyData.affectedHouseholds %></td>
                    <td><%= dnca.info.genInfo.familyData.displacedHouseholds %></td>
                </tr>
            </table>
            <br>

            <!-- VULNERABLE POPULATION -->
            <p>
                <strong>Number of Vulnerable Population</strong>
            </p>  
            <table id="vulnerable">
                <tr>
                    <th rowspan=2>Age</th>
                    <th rowspan=2>Pregnant</th>
                    <th rowspan=2>Lactating Mothers</th>
                    <th rowspan=2>LGBT</th>
                    <th rowspan=2>Female-headed Households</th>
                    <th colspan=2>Child-headed Households</th>
                    <th colspan=2>Indigenous People</th>
                    <th colspan=2>Persons with Disabilities</th>
                    <th rowspan=2>Remarks</th>
                </tr>
                <tr>
                    <th>M</th>
                    <th>F</th>
                    <th>M</th>
                    <th>F</th>
                    <th>M</th>
                    <th>F</th>
                </tr>
                <% dnca.info.genInfo.vulnerablePopulationData.vulnerablePopulationDataRows.forEach(function(row) { %>
                    <tr>
                        <td><%= row.ageGroup %></td>
                        <td><%= row.pregnant %></td>
                        <td><%= row.lactating %></td>
                        <td><%= row.lgbt %></td>
                        <td><%= row.femaleHeadedHouseholds %></td>
                        <td><%= row.childHeadedHouseholds.male %></td>
                        <td><%= row.childHeadedHouseholds.female %></td>
                        <td><%= row.indigenous.male %></td>
                        <td><%= row.indigenous.female %></td>
                        <td><%= row.disabled.male %></td>
                        <td><%= row.disabled.female %></td>
                        <td><%= row.remarks %></td>
                    </tr>
                <% }); %>
            </table>
            <br>

            <!-- CASUALTIES -->
            <p>
                <strong>Number of Casualties</strong>
            </p>  
            <table id="casualties">
                <tr>
                    <th rowspan=2>Age</th>
                    <th colspan=2>Dead</th>
                    <th colspan=2>Missing</th>
                    <th colspan=2>Injured</th>
                    <tr>
                        <th>Male</th>
                        <th>Female</th>
                        <th>Male</th>
                        <th>Female</th>
                        <th>Male</th>
                        <th>Female</th>
                    </tr>
                </tr>
                <% dnca.info.genInfo.casualtiesData.casualtiesDataRows.forEach(function(row) { %>
                    <tr>                        
                        <td><%= row.ageGroup %></td>
                        <td><%= row.dead.male %></td>
                        <td><%= row.dead.female %></td>
                        <td><%= row.injured.male %></td>
                        <td><%= row.injured.female %></td>
                        <td><%= row.missing.male %></td>
                        <td><%= row.missing.female %></td>
                    </tr>
                <% }); %>
            </table>
            <br>

            <!-- CAUSE OF DEATH -->
            <p>
                <strong>Cause of Death</strong>
            </p> 
            <table id="cause-of-death">
                <tr>
                    <th colspan=2>Age and Gender</th>
                    <th>Measles</th>
                    <th>Diarrhea</th>
                    <th>Pneumonia</th>
                    <th>Dengue</th>
                    <th>Drowning</th>
                    <th>Heart Attack</th>
                    <th>Electrocution</th>
                    <th>Collapsed Building</th>
                    <th>Others</th>
                </tr>
                <% dnca.info.genInfo.deathCauseData.deathCauseDataRows.forEach(function(row) { %>
                    <tr>
                        <td rowspan=2><%= row.ageGroup %></td>
                        <td>M</td>
                        <td><%= row.measles.male %></td>
                        <td><%= row.diarrhea.male %></td>
                        <td><%= row.pneumonia.male %></td>
                        <td><%= row.dengue.male %></td>
                        <td><%= row.drowning.male %></td>
                        <td><%= row.heartAttack.male %></td>
                        <td><%= row.electrocution.male %></td>
                        <td><%= row.collapsedBuilding.male %></td>
                        <td><%= row.others.male %></td>
                    </tr>
                    <tr>                        
                        <td>F</td>
                        <td><%= row.measles.female %></td>
                        <td><%= row.diarrhea.female %></td>
                        <td><%= row.pneumonia.female %></td>
                        <td><%= row.dengue.female %></td>
                        <td><%= row.drowning.female %></td>
                        <td><%= row.heartAttack.female %></td>
                        <td><%= row.electrocution.female %></td>
                        <td><%= row.collapsedBuilding.female %></td>
                        <td><%= row.others.female %></td>
                    </tr>
                <% }); %>
            </table>
            <br>

            <!-- DAMAGE TO INFRASTRUCTURES -->
            <p>
                <strong>Damage to Infrastructures</strong>
            </p> 
            <table id="infra-damage">
                <tr>
                    <th rowspan=2>Infrastructure</th>
                    <th rowspan=2>Number of Infrastructure</th>
                    <th colspan=2>Status</th>
                    <th rowspan=2>Remarks</th>
                </tr>
                <tr>
                    <th>Functional</th>
                    <th>Non-functional</th>
                </tr>
                <% dnca.info.genInfo.infrastructureDamageData.infrastructureDamageDataRows.forEach(function(row) { %>
                    <tr>
                        <td><%= row.infraType %></td>
                        <td><%= row.damaged %></td>
                        <% if (row.isFunctional === true) { %>
                            <td class="check">X</td>
                            <td class="check"></td>
                        <% } else { %>
                            <td class="check"></td>
                            <td class="check">X</td>
                        <% } %>
                        <td><%= row.remarks %></td>
                    </tr>
                <% }); %>
            </table>
        </div>
    </div>    
</body>
</html>