<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DNCA Form</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    
    <!-- TODO: Must use host of server (constant) -->
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/api/dnca/stylesheets/form.css"> 
</head>
<body>
    <div class="main">
        <div id="header">            
            <h1>CITIZENS’ DISASTER RESPONSE CENTER AND NETWORK</h1>
            <h1 class="sub">DAMAGE, NEEDS, CAPACITIES ASSESSMENT (DNCA)</h1>
        </div>
        <p>
            This tool is used after a disaster event to determine the following: current situation, resources available, needs, gaps, and the interventions that
            should be prioritized. This can be used again to update the initial data gathered and to determine if the situation has changed from the initial
            assessment. Methodologies that can be used are: interviews with community members, FGDs, KIIs, information gathering, and field observations.
        </p>
        <br>
        <!-- <p>
            <strong>REMINDER</strong>
            <ul>
                <li>
                    Conduct courtesy calls with relevant offices. Introduce the team and the organization.
                </li>
                <li>                    
                    Be courteous and sensitive to the situation. DO NOT make any promises.
                </li>
                <li>                    
                    Remember to get secondary information when available.
                </li>
                <li>
                    Get contact information of key informants and other possible sources of information.
                </li>
                <li>
                    Take photos and videos if possible. Please ask permission before doing so.
                </li>
                <li>                    
                    Thank the respondents for their responses and participation.
                </li>
            </ul>
        </p> -->
        <br>
            <!-- FORM DETAILS -->
            <div id="area-info">
                <table>
                    <tr>
                        <td><%= dnca.info.prefilledData.orgName.question %></td>
                        <td><%= dnca.info.prefilledData.orgName.value %></td>
                        <td><%= dnca.info.formDetails.assessmentDate.question %></td>
                        <td><%= dnca.info.formDetails.assessmentDate.year%>/<%= dnca.info.formDetails.assessmentDate.month+1%>/<%= dnca.info.formDetails.assessmentDate.dayOfMonth%></td>
                    </tr>
                    <tr>
                        <td><%= dnca.info.prefilledData.sitio.question %></td>
                        <td><%= dnca.info.prefilledData.sitio.value %></td>
                        <td><%= dnca.info.prefilledData.barangay.question %></td>
                        <td><%= dnca.info.prefilledData.barangay.value %></td>
                    </tr>
                    <tr>
                        <td><%= dnca.info.prefilledData.city.question %></td>
                        <td><%= dnca.info.prefilledData.city.value %></td>
                        <td><%= dnca.info.prefilledData.province.question %></td>
                        <td><%= dnca.info.prefilledData.province.value %></td>
                    </tr>
                    <tr>
                        <td><%= dnca.info.formDetails.interviewer.question %></td>
                        <td><%= dnca.info.formDetails.interviewer.value %></td>
                        <td><%= dnca.info.formDetails.interviewerNo.question %></td>
                        <td><%= dnca.info.formDetails.interviewerNo.value %></td>
                    </tr>
                    <tr>
                        <td><%= dnca.info.formDetails.infoSources.question %></td>
                        <td><%= dnca.info.formDetails.infoSources.value %></td>
                    </tr>
                </table>
            </div>
            <br>
            
            <!-- BASELINE DATA -->
            <div class="table-info">
                <p>
                    <strong>I. BASELINE DATA</strong>
                </p>
                <!-- Total Population -->
                <p>
                    <strong>Total Population</strong>
                </p>            
                <table id="total-population">
                    <tr>
                        <th>Age</th>
                        <th>Male</th>
                        <th>Female</th>
                    </tr>
                    <% dnca.info.prefilledData.population.forEach(function(row) { %>                    
                        <tr>
                            <td><%= row.count.question %></td>
                            <td><%= row.count.male %></td>
                            <td><%= row.count.female %></td>
                        </tr>
                    <% }) %> 
                </table>
                <br>

                <!-- Total Families and Households -->
                <p>
                    <strong>Total Families and Households</strong>
                </p>            
                <table id="total-families">
                    <tr>
                        <th></th>
                        <th>Number</th>
                    </tr>               
                    <tr>
                        <td><%= dnca.info.prefilledData.familyCount.question %></td>
                        <td><%= dnca.info.prefilledData.familyCount.value %></td>
                    </tr>           
                    <tr>
                        <td><%= dnca.info.prefilledData.householdsCount.question %></td>
                        <td><%= dnca.info.prefilledData.householdsCount.value %></td>
                    </tr>
                </table>
                <br>

                <!-- Total Number of Houses -->
                <p>
                    <strong>Total Number of Houses</strong>
                </p>            
                <table id="total-houses">
                    <tr>
                        <th>House Type</th>
                        <th>Number</th>
                    </tr>
                    <% dnca.info.prefilledData.houses.forEach(function(row) { %>                    
                        <tr>
                            <td><%= row.count.question %></td>
                            <td><%= row.count.value %></td>
                        </tr>
                    <% }) %> 
                </table>
                <br>
            </div>

            <!-- GENERAL INFORMATION -->
            <div class="table-info">
                <p>
                    <strong>II. GENERAL INFORMATION</strong>
                </p>

                <!-- CALAMITY DETAILS -->
                <div>
                    <p>
                        <strong>Calamity and Area Details</strong>
                    </p>
                    <% var calamityDetails = dnca.info.generalInformation.calamityDetails %>
                    <table id="calamity-data">
                        <tr>
                            <td><%= calamityDetails.dateFields[0].question %>:</td>
                            <td><%= calamityDetails.dateFields[0].year %>/<%= calamityDetails.dateFields[0].month+1 %>/<%= calamityDetails.dateFields[0].dayOfMonth %></td>
                        </tr>
                        <% calamityDetails.stringFields.forEach(function(row){ %>
                        <tr>
                            <td><%= row.question %>:</td>
                            <td><%= row.value %></td>
                        </tr>
                        <% }); %>
                    </table>
                    <br>
                </div>

                <!-- POPULATION DATA -->
                <div>
                    <p>
                        <strong>Population Data</strong>
                    </p>  
                    <% var populationData = dnca.info.generalInformation.populationData %>          
                    <table id="population-data">
                        <tr>
                            <th rowspan=2>Age</th>
                            <th colspan=2>Affected</th>
                            <th colspan=2>Displaced</th>
                        </tr>
                        <tr>
                            <td>Male</td>
                            <td>Female</td>
                            <td>Male</td>
                            <td>Female</td>
                        </tr>
                        <% populationData.rows.forEach(function(row) { %>                    
                            <tr>
                                <td><%= row.ageGroup %></td>
                                <% row.genderTupleFields.forEach(function(gtRow) { %>  
                                    <td><%= gtRow.male %></td>
                                    <td><%= gtRow.female %></td>
                                <% }) %> 
                            </tr>
                        <% }) %>  
                    </table>
                    <br>
                </div>

                <!-- FAMILY AND HOUSEHOLD DATA -->
                <div>
                    <p>
                        <strong>Family and Household Data</strong>
                    </p>  
                    <% var familyDetails = dnca.info.generalInformation.familyDetails %>          
                    <table id="family-data">
                        <tr>
                            <th></th>
                            <th>Affected</th>
                            <th>Displaced</th>
                        </tr>
                        <tr>
                            <td>Families</td>
                            <td><%= familyDetails.numberFields[0].value %></td>
                            <td><%= familyDetails.numberFields[2].value %></td>
                        </tr>
                        <tr>
                            <td>Households</td>
                            <td><%= familyDetails.numberFields[1].value %></td>
                            <td><%= familyDetails.numberFields[3].value %></td>
                        </tr>
                    </table>
                    <br>
                </div>

                <!-- VULNERABLE POPULATION -->
                <div>
                    <p>
                        <strong>Vulnerable Population</strong>
                    </p>  
                    <% var vulnerableData = dnca.info.generalInformation.vulnerableData %>          
                    <table id="vulnerable-data">
                        <tr>
                            <th rowspan=2>Age</th>
                            <th rowspan=2>Pregnant</th>
                            <th rowspan=2>Lactating Mothers</th>
                            <th rowspan=2>LGBT</th>
                            <th rowspan=2>Female-headed Households</th>
                            <th colspan=2>Child-headed Households</th>
                            <th colspan=2>Indigenous People</th>
                            <th colspan=2>Persons with Disabilities</th>
                            <th rowspan=2>Remarks</th>
                        </tr>
                        <tr>
                            <td>Male</td>
                            <td>Female</td> 
                            <td>Male</td>
                            <td>Female</td> 
                            <td>Male</td>
                            <td>Female</td> 
                        </tr>
                        <% vulnerableData.rows.forEach(function(row) { %>                    
                            <tr>
                                <td><%= row.ageGroup %></td>
                                <% row.numberFields.forEach(function(nRow) { %>  
                                    <td><%= nRow.value %></td>
                                <% }) %> 
                                <% row.genderTupleFields.forEach(function(gtRow) { %>  
                                    <td><%= gtRow.male %></td>
                                    <td><%= gtRow.female %></td>
                                <% }) %> 
                                <% row.stringFields.forEach(function(sRow) { %>  
                                    <td><%= sRow.value %></td>
                                <% }) %> 
                            </tr>
                        <% }) %>  
                    </table>
                    <br>
                </div>

                <!-- CASUALTIES DATA -->
                <div>
                    <p>
                        <strong>Casualties</strong>
                    </p>  
                    <% var casualtiesData = dnca.info.generalInformation.casualtiesData %>          
                    <table id="casualties-data">
                        <tr>
                            <th rowspan=2>Age</th>
                            <th colspan=2>Dead</th>
                            <th colspan=2>Missing</th>
                            <th colspan=2>Injured</th>
                        </tr>
                        <tr>
                            <td>Male</td>
                            <td>Female</td>
                            <td>Male</td>
                            <td>Female</td>
                            <td>Male</td>
                            <td>Female</td>
                        </tr>
                        <% casualtiesData.rows.forEach(function(row) { %>                    
                            <tr>
                                <td><%= row.ageGroup %></td>
                                <% row.genderTupleFields.forEach(function(gtRow) { %>  
                                    <td><%= gtRow.male %></td>
                                    <td><%= gtRow.female %></td>
                                <% }) %> 
                            </tr>
                        <% }) %>  
                    </table>
                    <br>
                </div>

                <!-- DEATH CAUSE DATA -->
                <div>
                    <p>
                        <strong>Causes of Death</strong>
                    </p>  
                    <% var deathCauseData = dnca.info.generalInformation.deathCauseData %>          
                    <table id="death-cause-data">
                        <tr>
                            <th>Age</th>
                            <th>Gender</th>
                            <th>Measles</th>
                            <th>Diarrhea</th>
                            <th>Pneumonia</th>
                            <th>Dengue</th>
                            <th>Drowning</th>
                            <th>Heart Attack</th>
                            <th>Electrocution</th>
                            <th>Collapsed Building</th>
                            <th>Others</th>
                        </tr>
                        <% deathCauseData.rows.forEach(function(row) { %>                    
                            <tr>
                                <td rowspan="2"><%= row.ageGroup %></td>
                                <td>M</td>
                                <% row.genderTupleFields.forEach(function(gtRow) { %>  
                                    <td><%= gtRow.male %></td>
                                <% }) %> 
                            </tr>         
                            <tr>
                                <td>F</td>
                                <% row.genderTupleFields.forEach(function(gtRow) { %>  
                                    <td><%= gtRow.female %></td>
                                <% }) %> 
                            </tr>
                        <% }) %>  
                    </table>
                    <br>
                </div>                

                <!-- INFRASTRUCTURE DAMAGE DATA -->
                <div>
                    <p>
                        <strong>Damage to Infrastructure</strong>
                    </p>  
                    <% var infrastructureData = dnca.info.generalInformation.infrastructureData %>          
                    <table id="casualties-data">
                        <tr>
                            <th rowspan=2>Infrastructure</th>
                            <th rowspan=2>Number of Infrastructure</th>
                            <th colspan=2>Status</th>
                            <th rowspan=2>Remarks</th>
                        </tr>
                        <tr>
                            <th>Functional</th>
                            <th>Non-functional</th>
                        </tr>
                        <% infrastructureData.rows.forEach(function(row) { %>                    
                            <tr>
                                <td><%= row.infraType %></td>
                                <% row.numberFields.forEach(function(nRow) { %>  
                                    <td><%= nRow.value %></td>
                                <% }) %> 
                                <% row.boolFields.forEach(function(bRow) { %>  
                                    <% if (bRow.value === true) { %>
                                        <td class="check">X</td>
                                        <td class="check"></td>
                                    <% } else { %>
                                        <td class="check"></td>
                                        <td class="check">X</td>
                                    <% } %>
                                <% }) %> 
                                <% row.stringFields.forEach(function(sRow) { %>  
                                    <td><%= sRow.value %></td>
                                <% }) %> 
                            </tr>
                        <% }) %>  
                    </table>
                    <br>
                </div>
            </div>
            
            <!-- SHELTER AND NON-FOOD ITEMS -->
            <div class="table-info">
                <p>
                    <strong>II. SHELTER AND NON-FOOD ITEMS</strong>
                </p>

                <!-- HOUSE DAMAGE DATA -->
                <div>                    
                    <p>
                        <strong>Damage to Houses</strong>
                    </p>
                    <% var houseDamageData = dnca.info.shelterInformation.damageData %>
                    <table id="house-damage-data">
                        <tr>
                            <th rowspan="2">Type of Houses</th>
                            <th colspan="3">House Ownership</th>
                            <th colspan="3">Land Ownership</th>
                            <th rowspan="2">How many are informal settler families?</th>
                            <th rowspan="2">Number of Partially Damaged Houses (can still be repaired)</th>
                            <th rowspan="2">Number of Totally Damaged Houses</th>
                        </tr>
                        <tr>
                            <th>How many HH own their property?</th>
                            <th>How many HH are in rented property?</th>
                            <th>How many HH are in shared property? (nakikitira)</th>
                            <th>Owned</th>
                            <th>Rented</th>
                            <th>Tenant</th>
                        </tr> 

                        <% houseDamageData.rows.forEach(function(row) { %>                    
                            <tr>
                                <td><%= row.houseType %></td>
                                <% row.numberFields.forEach(function(nRow){ %>
                                    <td><%= nRow.value %></td>
                                <% }); %>
                            </tr>
                        <% }) %> 
                    </table>
                    <br>
                </div>

                <!-- SHELTER NEEDS DATA -->
                <div>                    
                    <p>
                        <strong>Needs</strong>
                    </p>
                    <% var shelterNeedsData = dnca.info.shelterInformation.shelterNeedsData %>
                    <table id="shelter-needs-data">
                        <tr>                                
                            <th>Materials</th>
                            <th>Specific Items Needed</th>
                            <th>Number of Families in Need</th>
                        </tr>

                        <% shelterNeedsData.rows.forEach(function(row) { %>                    
                            <tr>
                                <td><%= row.needsType %></td>
                                <% row.stringFields.forEach(function(sRow){ %>
                                    <td><%= sRow.value %></td>
                                <% }); %>
                                <% row.numberFields.forEach(function(nRow){ %>
                                    <td><%= nRow.value %></td>
                                <% }); %>
                            </tr>
                        <% }) %> 
                    </table>
                    <br>
                </div>

                <!-- SHELTER COPING DETAILS -->
                <div>                    
                    <p>
                        <strong>Coping</strong>
                    </p>
                    <% var shelterCopingDetails = dnca.info.shelterInformation.shelterCopingDetails %>
                    <table id="shelter-coping-data">
                        <% shelterCopingDetails.stringFields.forEach(function(row){ %>
                        <tr>
                            <td><%= row.question %></td>
                            <td><%= row.value %></td>
                        </tr>
                        <% }); %>
                    </table>
                    <br>
                </div>

                <!-- SHELTER ASSISTANCE DATA -->
                <% var shelterAssistanceData = dnca.info.shelterInformation.shelterAssistanceData %>
                <!-- <% if (shelterAssistanceData.rows.length > 0) { %> -->
                <!-- <% } %> -->
                <div>                    
                    <p>
                        <strong>Assistance</strong>
                    </p>
                    <table id="shelter-assistance-data">
                        <tr>
                            <th rowspan="2">Name of Organization/Agency</th>
                            <th rowspan="2">Type of Assistance Received</th>
                            <th rowspan="2">Date Received</th>
                            <th rowspan="2">Quantity/Amount</th>
                            <th colspan="4">Beneficiaries</th>
                        </tr>
                        <tr>
                            <th>Men</th>
                            <th>Women</th>
                            <th>Boys</th>
                            <th>Girls</th>
                        </tr> 

                        <% shelterAssistanceData.rows.forEach(function(row) { %> 
                            <tr>
                                <% row.stringFields.forEach(function(sRow){ %>
                                    <td><%= sRow.value %></td>
                                <% }); %>
                                <% row.dateFields.forEach(function(dRow){ %>
                                    <td><%= dRow.year %>/<%= dRow.month+1 %>/<%= dRow.dayOfMonth %></td>
                                <% }); %>
                                <% row.numberFields.forEach(function(nRow){ %>
                                    <td><%= nRow.value %></td>
                                <% }); %>
                            </tr>
                        <% }) %> 
                    </table>
                    <br>
                </div>

                <!-- SHELTER GAPS DETAILS -->
                <div>                    
                    <p>
                        <strong>Gaps</strong>
                    </p>
                    <% var shelterGapsDetails = dnca.info.shelterInformation.shelterGapsDetails %>
                    <table id="shelter-gaps-data">
                        <% shelterGapsDetails.stringFields.forEach(function(row){ %>
                        <tr>
                            <td><%= row.question %></td>
                            <td><%= row.value %></td>
                        </tr>
                        <% }); %>
                    </table>
                    <br>
                </div>
            </div>
            
            <!-- FOOD SECURITY -->
            <div class="table-info">
                <p>
                    <strong>IV. FOOD SECURITY</strong>
                </p>

                <!-- FOOD SECURITY IMPACT DATA -->
                <div>                    
                    <p>
                        <strong>Impact on Food Security</strong>
                    </p>
                    <% var foodImpactData = dnca.info.foodSecurityInformation.impactDetails %>
                    <table id="food-impact-data">
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Remarks</th>
                        </tr>    
                        <% foodImpactData.booleanStringFields.forEach(function(row) { %>                    
                            <tr>
                                <td><%= row.question %></td>
                                <td><%= row.value %></td>
                                <td><%= row.remarks %></td>
                            </tr>
                        <% }) %>  
                        <tr>
                            <th></th>
                            <th>beforeEmergency</th>
                            <th>afterEmergency</th>
                        </tr>          
                        <% foodImpactData.doubleStringFields.forEach(function(row) { %>                    
                            <tr>
                                <td><%= row.question %></td>
                                <td><%= row.value1 %></td>
                                <td><%= row.value2 %></td>
                            </tr>
                        <% }) %>    
                        <% foodImpactData.stringFields.forEach(function(row) { %>                    
                            <tr>
                                <td><%= row.question %></td>
                                <td colspan="2"><%= row.value %></td>
                            </tr>
                        <% }) %> 
                    </table>
                    <br>
                </div>

                <!-- FOOD SECURITY COPING DETAILS -->
                <div>                    
                    <p>
                        <strong>Coping</strong>
                    </p>
                    <% var foodCopingDetails = dnca.info.foodSecurityInformation.foodSecurityCopingDetails %>
                    <table id="food-coping-data">
                        <% foodCopingDetails.stringFields.forEach(function(row){ %>
                        <tr>
                            <td><%= row.question %></td>
                            <td><%= row.value %></td>
                        </tr>
                        <% }); %>
                    </table>
                    <br>
                </div>

                <!-- FOOD SECURITY NEEDS DETAILS -->
                <div>                    
                    <p>
                        <strong>Needs</strong>
                    </p>
                    <% var foodNeedsDetails = dnca.info.foodSecurityInformation.foodSecurityNeedsDetails %>
                    <table id="food-needs-data">
                        <% foodNeedsDetails.stringFields.forEach(function(row){ %>
                        <tr>
                            <td><%= row.question %></td>
                            <td><%= row.value %></td>
                        </tr>
                        <% }); %>
                        <% foodNeedsDetails.numberFields.forEach(function(row){ %>
                        <tr>
                            <td><%= row.question %></td>
                            <td><%= row.value %></td>
                        </tr>
                        <% }); %>
                    </table>
                    <br>
                </div>

                <!-- FOOD SECURITY ASSISTANCE DATA -->
                <% var foodAssistanceData = dnca.info.foodSecurityInformation.foodAssistanceData %>
                <!-- <% if (foodAssistanceData.rows.length > 0) { %> -->
                <!-- <% } %> -->
                <div>                    
                    <p>
                        <strong>Assistance</strong>
                    </p>
                    <table id="food-assistance-data">
                        <tr>
                            <th rowspan="2">Name of Organization/Agency</th>
                            <th rowspan="2">Type of Assistance Received</th>
                            <th rowspan="2">Date Received</th>
                            <th rowspan="2">Quantity/Amount</th>
                            <th colspan="4">Beneficiaries</th>
                        </tr>
                        <tr>
                            <th>Men</th>
                            <th>Women</th>
                            <th>Boys</th>
                            <th>Girls</th>
                        </tr> 

                        <% foodAssistanceData.rows.forEach(function(row) { %> 
                            <tr>
                                <% row.stringFields.forEach(function(sRow){ %>
                                    <td><%= sRow.value %></td>
                                <% }); %>
                                <% row.dateFields.forEach(function(dRow){ %>
                                    <td><%= dRow.year %>/<%= dRow.month+1 %>/<%= dRow.dayOfMonth %></td>
                                <% }); %>
                                <% row.numberFields.forEach(function(nRow){ %>
                                    <td><%= nRow.value %></td>
                                <% }); %>
                            </tr>
                        <% }) %> 
                    </table>
                    <br>
                </div>

                <!-- FOOD SECURITY GAPS DETAILS -->
                <div>                    
                    <p>
                        <strong>Gaps</strong>
                    </p>
                    <% var foodGapsDetails = dnca.info.foodSecurityInformation.foodSecurityGapsDetails %>
                    <table id="food-gaps-data">
                        <% foodGapsDetails.stringFields.forEach(function(row){ %>
                        <tr>
                            <td><%= row.question %></td>
                            <td><%= row.value %></td>
                        </tr>
                        <% }); %>
                    </table>
                    <br>
                </div>

            </div>  

            <!-- LIVELIHOODS -->
            <div class="table-info">
                <p>
                    <strong>V. LIVELIHOODS</strong>
                </p>

                <!-- INCOME SOURCES (BEFORE EMERGENCY) -->
                <% var livelihoodsIncomeSourceDataBefore = dnca.info.livelihoodsInformation.livelihoodsIncomeSourceDataBefore %>
                <!-- <% if (livelihoodsIncomeSourceDataBefore.rows.length > 0) { %> -->
                <!-- <% } %> -->
                <div>                    
                    <p>
                        <strong>Main Sources of Income BEFORE the Emergency</strong>
                    </p>
                    <table id="income-before-data">
                        <tr>
                            <th rowspan="2">Source of Income</th>
                            <th rowspan="2">Type</th>
                            <th rowspan="2">Number of Dependent Households</th>
                            <th rowspan="2">Number of Male</th>
                            <th rowspan="2">Number of Female</th>
                            <th colspan="2">Children/Youth</th>
                            <th rowspan="2">Average Monthly or Daily Income per Household</th>
                        </tr>    
                        <tr>
                            <th>Number of Boys</th>
                            <th>Number of Girls</th>
                        </tr>
                        <% livelihoodsIncomeSourceDataBefore.rows.forEach(function(row){ %>        
                            <tr>                        
                            <% row.stringFields.forEach(function(sRow){ %>
                                    <td><%= sRow.value %></td>   
                            <% }); %>
                            <td><%= row.incomeSourceType %></td>            
                            <% row.numberFields.forEach(function(nRow){ %>
                                    <td><%= nRow.value %></td>   
                            <% }); %>
                        <% }); %>
                    </table>
                    <br>
                </div> 

                <!-- INCOME SOURCES (AFTER EMERGENCY) -->
                <% var livelihoodsIncomeSourceDataAfter = dnca.info.livelihoodsInformation.livelihoodsIncomeSourceDataAfter %>
                <!-- <% if (livelihoodsIncomeSourceDataAfter.rows.length > 0) { %> -->
                <!-- <% } %> -->
                <div>                    
                    <p>
                        <strong>Main Sources of Income AFTER the Emergency</strong>
                    </p>
                    <table id="income-after-data">
                        <tr>
                            <th rowspan="2">Source of Income</th>
                            <th rowspan="2">Type</th>
                            <th rowspan="2">Number of Dependent Households</th>
                            <th rowspan="2">Number of Male</th>
                            <th rowspan="2">Number of Female</th>
                            <th colspan="2">Children/Youth</th>
                            <th rowspan="2">Average Monthly or Daily Income per Household</th>
                        </tr>    
                        <tr>
                            <th>Number of Boys</th>
                            <th>Number of Girls</th>
                        </tr>
                        <% livelihoodsIncomeSourceDataAfter.rows.forEach(function(row){ %>        
                            <tr>                        
                            <% row.stringFields.forEach(function(sRow){ %>
                                    <td><%= sRow.value %></td>   
                            <% }); %>
                            <td><%= row.incomeSourceType %></td>            
                            <% row.numberFields.forEach(function(nRow){ %>
                                    <td><%= nRow.value %></td>   
                            <% }); %>
                        <% }); %>
                    </table>
                    <br>
                </div> 

                <!-- LIVELIHOODS DAMAGE COST -->
                <% var livelihoodsDamageCostData = dnca.info.livelihoodsInformation.livelihoodsDamageCostData %>
                <!-- <% if (livelihoodsDamageCostData.rows.length > 0) { %> -->
                <!-- <% } %> -->
                <div>                    
                    <p>
                        <strong>Estimated Cost of Damage to Livelihoods</strong>
                    </p>
                    <table id="livelihoods-damage-data">
                        <tr>
                            <th>Livelihood Type</th>
                            <th>Estimated Damage Cost (in PHP)</th>
                            <th>Remarks</th>
                        </tr>
                        <% livelihoodsDamageCostData.rows.forEach(function(row){ %>        
                            <tr>                      
                                <td>
                                    <%= row.livelihoodsType %>
                                    <% row.booleanGroup.booleanFields.forEach(function(bgRow){ %>
                                        <br><%= bgRow.value %> - <%= bgRow.question %>   
                                    <% }); %>  
                                </td>  
                                <% row.numberFields.forEach(function(nRow){ %>
                                    <td><%= nRow.value %></td>   
                                <% }); %>               
                                <% row.stringFields.forEach(function(sRow){ %>
                                    <td><%= sRow.value %></td>   
                                <% }); %>
                            </tr>                            
                        <% }); %>
                    </table>
                    <br>
                </div>                

                <!-- LIVELIHOODS COPING DETAILS -->
                <div>                    
                    <p>
                        <strong>Coping</strong>
                    </p>
                    <% var livelihoodsCopingDetails = dnca.info.livelihoodsInformation.livelihoodsCopingDetails %>
                    <table id="livelihoods-coping-data">
                        <% livelihoodsCopingDetails.stringFields.forEach(function(row){ %>
                        <tr>
                            <td><%= row.question %></td>
                            <td><%= row.value %></td>
                        </tr>
                        <% }); %>
                    </table>
                    <br>
                </div>

                <!-- LIVELIHOODS NEEDS DETAILS -->
                <div>                    
                    <p>
                        <strong>Needs</strong>
                    </p>
                    <% var livelihoodsNeedsDetails = dnca.info.livelihoodsInformation.livelihoodsNeedsDetails %>
                    <table id="livelihoods-needs-data">
                        <% livelihoodsNeedsDetails.stringFields.forEach(function(row){ %>
                        <tr>
                            <td><%= row.question %></td>
                            <td><%= row.value %></td>
                        </tr>
                        <% }); %>
                    </table>
                    <br>
                </div>

                <!-- LIVELIHOODS ASSISTANCE DATA -->
                <% var livelihoodsAssistanceData = dnca.info.livelihoodsInformation.livelihoodsAssistanceData %>
                <!-- <% if (livelihoodsAssistanceData.rows.length > 0) { %> -->
                <!-- <% } %> -->
                <div>                    
                    <p>
                        <strong>Assistance</strong>
                    </p>
                    <table id="health-assistance-data">
                        <tr>
                            <th rowspan="2">Name of Organization/Agency</th>
                            <th rowspan="2">Type of Assistance Received</th>
                            <th rowspan="2">Date Received</th>
                            <th rowspan="2">Quantity/Amount</th>
                            <th colspan="4">Beneficiaries</th>
                        </tr>
                        <tr>
                            <th>Men</th>
                            <th>Women</th>
                            <th>Boys</th>
                            <th>Girls</th>
                        </tr> 

                        <% livelihoodsAssistanceData.rows.forEach(function(row) { %> 
                            <tr>
                                <% row.stringFields.forEach(function(sRow){ %>
                                    <td><%= sRow.value %></td>
                                <% }); %>
                                <% row.dateFields.forEach(function(dRow){ %>
                                    <td><%= dRow.year %>/<%= dRow.month+1 %>/<%= dRow.dayOfMonth %></td>
                                <% }); %>
                                <% row.numberFields.forEach(function(nRow){ %>
                                    <td><%= nRow.value %></td>
                                <% }); %>
                            </tr>
                        <% }) %> 
                    </table>
                    <br>
                </div>

                <!-- LIVELIHOODS GAPS DETAILS -->
                <div>                    
                    <p>
                        <strong>Gaps</strong>
                    </p>
                    <% var livelihoodsGapsDetails = dnca.info.livelihoodsInformation.livelihoodsGapsDetails %>
                    <table id="livelihoods-gaps-data">
                        <tr>
                            <th>Do men and women have equal access to:</th>
                            <th></th>
                            <th>Remarks</th>
                        </tr>
                        <% livelihoodsGapsDetails.booleanStringFields.forEach(function(row) { %>                    
                            <tr>
                                <td><%= row.question %></td>
                                <td><%= row.value %></td>
                                <td><%= row.remarks %></td>
                            </tr>
                        <% }) %>  
                    </table>
                    <br>
                </div>
            </div>    

            <!-- HEALTH -->
            <div class="table-info">
                <p>
                    <strong>VI. HEALTH</strong>
                </p>

                <!-- DISEASES AND CRITICAL INJURIES -->
                <div>
                    <p>
                        <strong>Diseases and Critical Injuries</strong>
                    </p>  
                    <% var diseasesData = dnca.info.healthInformation.diseasesData %>          
                    <table id="diseases-data">
                        <tr>
                            <th rowspan=2>Age</th>
                            <th rowspan=2>Gender</th>
                            <th colspan=5>Number of Cases of Illnesses</th>
                            <th colspan=4>Medical Needs</th>
                        </tr>
                        <tr>
                            <th>Diarrhea</th>
                            <th>Pneumonia</th>
                            <th>Dengue</th>
                            <th>Measles</th>
                            <th>Others</th>
                            <th>Check-up</th>
                            <th>Hospitalization</th>
                            <th>Others</th>
                        </tr>
                        <% diseasesData.rows.forEach(function(row) { %>                
                            <tr>
                                <td rowspan="2"><%= row.ageGroup %></td>
                                <td>M</td>
                                <% row.genderTupleFields.forEach(function(gtRow) { %>  
                                    <td><%= gtRow.male %></td>
                                <% }) %> 
                            </tr>         
                            <tr>
                                <td>F</td>
                                <% row.genderTupleFields.forEach(function(gtRow) { %>  
                                    <td><%= gtRow.female %></td>
                                <% }) %> 
                            </tr>      
                        <% }) %>  
                    </table>
                    <br>
                </div>

                <!-- PEOPLE WITH SPECIAL NEEDS -->
                <div>
                    <p>
                        <strong>People with Special Needs</strong>
                    </p>  
                    <% var specialNeedsData = dnca.info.healthInformation.specialNeedsData %>          
                    <table id="special-needs-data">
                        <tr>
                            <th>Type of Vulnerability</th>
                            <th>Number</th>
                            <th>Specific Health/Medical Needs</th>
                        </tr>
                        <% specialNeedsData.rows.forEach(function(row) { %>                
                            <tr>
                                <td><%= row.specialNeedsType %></td>
                                <% row.numberFields.forEach(function(nRow) { %>  
                                    <td><%= nRow.value %></td>
                                <% }) %> 
                                <% row.stringFields.forEach(function(sRow) { %>  
                                    <td><%= sRow.value %></td>
                                <% }) %> 
                            </tr>       
                        <% }) %>  
                    </table>
                    <br>
                </div>

                <!-- PSYCHOSOCIAL -->
                <div>
                    <p>
                        <strong>Psychosocial</strong>
                    </p>  
                    <% var psychosocialData = dnca.info.healthInformation.psychosocialData %>          
                    <table id="special-needs-data">
                        <tr>
                            <th rowspan="2">Age</th>
                            <th rowspan="2">
                                Manifestations of Mental Stress/Trauma<br>
                                (Blank Stare, Nightmares, Sleep Disorder, Violent Tendencies, etc.)
                            </th>
                            <th rowspan="2">
                                Needs (Counselling, Referrals, etc.)
                            </th>
                            <th colspan="2">Number of Cases</th>
                        </tr>
                        <tr>
                            <th>Male</th>
                            <th>Female</th>
                        </tr>
                        <% psychosocialData.rows.forEach(function(row) { %>                
                            <tr>
                                <td><%= row.psychosocialType %></td>
                                <% row.stringFields.forEach(function(sRow) { %>  
                                    <td><%= sRow.value %></td>
                                <% }) %> 
                                <% row.genderTupleFields.forEach(function(gtRow) { %>  
                                    <td><%= gtRow.male %></td>
                                    <td><%= gtRow.female %></td>
                                <% }) %> 
                            </tr>       
                        <% }) %>  
                    </table>
                    <br>
                </div>                              

                <!-- HEALTH COPING DETAILS -->
                <div>                    
                    <p>
                        <strong>Coping</strong>
                    </p>
                    <% var healthCopingDetails = dnca.info.healthInformation.healthCopingDetails %>
                    <table id="health-coping-data">
                        <% healthCopingDetails.stringFields.forEach(function(row){ %>
                        <tr>
                            <td><%= row.question %></td>
                            <td><%= row.value %></td>
                        </tr>
                        <% }); %>
                    </table>
                    <br>
                </div>
    
                <!-- HEALTH ASSISTANCE DATA -->
                <% var healthAssistanceData = dnca.info.healthInformation.healthAssistanceData %>
                <!-- <% if (healthAssistanceData.rows.length > 0) { %> -->
                <!-- <% } %> -->
                <div>                    
                    <p>
                        <strong>Assistance</strong>
                    </p>
                    <table id="health-assistance-data">
                        <tr>
                            <th rowspan="2">Name of Organization/Agency</th>
                            <th rowspan="2">Type of Assistance Received</th>
                            <th rowspan="2">Date Received</th>
                            <th rowspan="2">Quantity/Amount</th>
                            <th colspan="4">Beneficiaries</th>
                        </tr>
                        <tr>
                            <th>Men</th>
                            <th>Women</th>
                            <th>Boys</th>
                            <th>Girls</th>
                        </tr> 

                        <% healthAssistanceData.rows.forEach(function(row) { %> 
                            <tr>
                                <% row.stringFields.forEach(function(sRow){ %>
                                    <td><%= sRow.value %></td>
                                <% }); %>
                                <% row.dateFields.forEach(function(dRow){ %>
                                    <td><%= dRow.year %>/<%= dRow.month+1 %>/<%= dRow.dayOfMonth %></td>
                                <% }); %>
                                <% row.numberFields.forEach(function(nRow){ %>
                                    <td><%= nRow.value %></td>
                                <% }); %>
                            </tr>
                        <% }) %> 
                    </table>
                    <br>
                </div>
    
                <!-- HEALTH GAPS DETAILS -->
                <div>                    
                    <p>
                        <strong>Gaps</strong>
                    </p>
                    <% var healthGapsDetails = dnca.info.healthInformation.healthGapsDetails %>
                    <table id="health-gaps-data">
                        <% healthGapsDetails.stringFields.forEach(function(row){ %>
                        <tr>
                            <td><%= row.question %></td>
                            <td><%= row.value %></td>
                        </tr>
                        <% }); %>
                    </table>
                    <br>
                </div>
            </div>

            <!-- WASH -->
            <div class="table-info">
                <p>
                    <strong>VI. WATER, SANITATION, AND HYGIENE</strong>
                </p>
                
                <!-- WASH CONDITIONS -->
                <div>                    
                    <p>
                        <strong>WASH Conditions</strong>
                    </p>
                    <% var washConditionsDetails = dnca.info.washInformation.washConditionsDetails %>
                    <table id="wash-conditions-data">
                        <tr>
                            <th>What is the current water source and level of water system available?</th>
                            <th>Level</th>
                            <th>Remarks</th>
                        </tr>
                        <% washConditionsDetails.multChoiceFields.forEach(function(mcRow){ %>
                            <tr>
                                <td><%= mcRow.question %></td>
                                <td><%= mcRow.choices[mcRow.selected] %></td>
                                <td><!-- TODO --></td>
                            </tr>
                        <% }); %>
                        <tr>
                            <th colspan=3>Other WASH Conditions Information</th>
                        </tr>
                        <% washConditionsDetails.stringFields.forEach(function(sRow){ %>
                            <tr>
                                <td><%= sRow.question %></td>
                                <td colspan=2><%= sRow.value %></td>
                            </tr>
                        <% }); %>
                    </table>
                    <br>
                </div>                       

                <!-- WASH COPING DETAILS -->
                <div>                    
                    <p>
                        <strong>Coping</strong>
                    </p>
                    <% var washCopingDetails = dnca.info.washInformation.washCopingDetails %>
                    <table id="wash-coping-data">
                        <% washCopingDetails.stringFields.forEach(function(row){ %>
                        <tr>
                            <td><%= row.question %></td>
                            <td><%= row.value %></td>
                        </tr>
                        <% }); %>
                    </table>
                    <br>
                </div>
    
                <!-- WASH ASSISTANCE DATA -->
                <% var washAssistanceData = dnca.info.washInformation.washAssistanceData %>
                <!-- <% if (washAssistanceData.rows.length > 0) { %> -->
                <!-- <% } %> -->
                <div>                    
                    <p>
                        <strong>Assistance</strong>
                    </p>
                    <table id="wash-assistance-data">
                        <tr>
                            <th rowspan="2">Name of Organization/Agency</th>
                            <th rowspan="2">Type of Assistance Received</th>
                            <th rowspan="2">Date Received</th>
                            <th rowspan="2">Quantity/Amount</th>
                            <th colspan="4">Beneficiaries</th>
                        </tr>
                        <tr>
                            <th>Men</th>
                            <th>Women</th>
                            <th>Boys</th>
                            <th>Girls</th>
                        </tr> 

                        <% washAssistanceData.rows.forEach(function(row) { %> 
                            <tr>
                                <% row.stringFields.forEach(function(sRow){ %>
                                    <td><%= sRow.value %></td>
                                <% }); %>
                                <% row.dateFields.forEach(function(dRow){ %>
                                    <td><%= dRow.year %>/<%= dRow.month+1 %>/<%= dRow.dayOfMonth %></td>
                                <% }); %>
                                <% row.numberFields.forEach(function(nRow){ %>
                                    <td><%= nRow.value %></td>
                                <% }); %>
                            </tr>
                        <% }) %> 
                    </table>
                    <br>
                </div>
    
                <!-- WASH GAPS DETAILS -->
                <div>                    
                    <p>
                        <strong>Gaps</strong>
                    </p>
                    <% var washGapsDetails = dnca.info.washInformation.washGapsDetails %>
                    <table id="wash-gaps-data">
                        <% washGapsDetails.stringFields.forEach(function(row){ %>
                        <tr>
                            <td><%= row.question %></td>
                            <td><%= row.value %></td>
                        </tr>
                        <% }); %>
                    </table>
                    <br>
                </div>
            </div>
        <br>
    </div>    
</body>
</html>